<mat-card *ngFor="let topico of topicos.data" appearance="outlined">
  <mat-card-header>
    <mat-card-title><h2>{{topico.titulo}}</h2></mat-card-title>
    <mat-card-subtitle>{{topico.conteudo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button routerLink="/post/{{topico.id}}">Ler mais</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Sentiu falta de algum fórum?</h2></mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button (click)="cadastrarTopico()">Cadastre aqui!</button>
  </mat-card-actions>

</mat-card>
